<div id="home_sidebar">
	<br /><%= link_to 'Create a New Tune', new_tune_path, :class => "btn primary" %><br /><br />
	<!--<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="HT4FW75CUCTPG">
		<input style="width: auto !important; height: auto !important" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>
	<p>Poll</p>
	<p>Advertisement</p>
	<p>etc.</p>	 -->
</div>
<div id="news">
	<div class="article">
		<h2>Welcome!</h2>
		<h4>By: <b>Admin</b></h4>
		<p>
			This site was created to give Gran Turismo players a way to easily keep track, find, and compare car tunes for Gran Turismo 5. The site is still under development as I have plans for new features and better design. However, if you find an issue, have an idea for a feature, or have general feedback, please <%= link_to 'E-mail Me', 'mailto: mmisshore@gmail.com' %> or comment in the gtplanet thread if you're a member. Hope you find this site useful!
		</p>
	</div>
</div>