<div id="home_sidebar">
	<br /><%= link_to 'Create a New Tune', new_tune_path, :class => "btn primary" %><br /><br />
	<!-- <p>Poll</p>
	<p>Advertisement</p>
	<p>etc.</p>	 -->
</div>
<div id="news">
	<div class="article">
		<h2>First News Article!</h2> <br />
		<p>
			Here is the content for the first news article. Here I will describe the site, how it's still under development but usable. Refer to the poll to vote on the next return or comment in the gtplanet thread.
		</p>
	</div>
</div>