BUTTON HERE! To Create a Tune
<div id="news">
	<h2>First News Article!</h2>
	<p>
		Here is the content for the first news article. Here I will describe the site, how it's still under development but usable. Refer to the poll to vote on the next return or comment in the gtplanet thread.
	</P>
</div>

<div id="home_sidebar">
	<p>Poll</p>
	<p>Advertisement</p>
	<p>etc.</p>	
</div>