<h2>Brakes</h2>
<table cellspacing="10px">
	<tr>
		<th><h3>Brake Balance Controller</h3></th>
	</tr>
	<tr>
		<td>
			<div class="field">
				<b><%= f.label :brake_balance_f, 'Front' %></b><br />
				<%= f.text_field :brake_balance_f, :size => 3 %>
			</div>
		</td>
		<td>
			<div class="field">
				<b><%= f.label :brake_balance_r, 'Rear' %></b><br />
				<%= f.text_field :brake_balance_r, :size => 3 %>
			</div>
		</td>
	</tr>
</table>