<div id="engine_table" style="display: none;">	
	<table cellspacing="10px">
		<tr>
			<td>
				<div class="field">
					<%= f.label :power_limit, 'Power Limiter' %><br />
					<%= f.text_field :power_limit, :size => 3 %>
				</div>
			</td>
		</tr>
	</table>
</div>