<%= form_tag(tunes_path, :method => "get") do %>
	<% if @tunes.count > 0 || params['filter'].present? %>
		<%= render 'filters', :locals => { :form_uri => tunes_path }%>
		<%= render 'listing' %>
	<% else %>
		<h2> Be the first to add a tune!</h2><br />
		<%= link_to 'Create a New Tune', new_tune_path, :class => "btn primary" %>
	<% end %>
<% end %>