/* LAYOUT STYLES */
html {
	height: 100%;
	background-color: #375063;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: inherit;
	font-family: helvetica;
}

h1 {
	font-size: 40px;
	font-weight: lighter;
	letter-spacing: 3px;
}

h2 {
	color: #375063;
	font-size: 28px;
}

a {
	text-decoration: none;
	color: #692a2f;
}

a:hover {
	text-decoration: none;
	color: #e02425;
}

label {
	position: relative;
	left: -5px;
}

input[hidden=hidden] {
	display: none;
}

/*table.border {
	border: 1px solid black;
}

table.border tr + tr td {
	border-top: 1px solid black;
}

table.border th + th, 
table.border td + td {
	border-left: 1px solid black;
} */

table th {
	border-bottom: 0px;
}


/* CONTENT ITEMS*/
#content-wrapper {
	width: 850px;
	background-color: white;
	margin: 0 auto;
}

#content-header {
	height: 100px;
	position: relative;
	top: 8px;
}

#content-header-text {
	position: relative;
	top: -72px;
	left: 40px;
	color: white;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 32px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#content-sub-wrapper {
	margin: 5px auto;
	padding: 10px 5px;
	font: normal normal normal 13px/1.5 Helvetica, Arial, sans-serif;
}

#content {
	background: #e4e4e4;
	width: 800px;
	margin: 5px auto;
	padding: 1px 10px;
	-webkit-border-radius: 8px;
}

#header {
	height: 85px;
	width: 845px;
	margin: 0 auto;
	color: white;
}

#header-nav {
	float: right;
	font-size: 17px;
	position: relative;
	top: 10px;
}

#header-nav li {
	display: inline;
	list-style-type:none; 
	padding-left:.8em;
	margin-left:.8em;
	border-left:1px solid black;
}

#header-nav a {
	color: white;
	text-decoration: none;
}

#header-nav li:first-child {
	border-left: none;
}

#news {
	width:575px;
	height: 300px;
}

#home_sidebar {
	width: 200px;
	float: right;
}

/* END CONTENT ITEMS */

/*PARTS TABLES*/

.parts-table td {
	vertical-align: top;
}

#tunetabs input {
	width: 50px;
}

#tunetabs h2 {
	padding-bottom: 15px;
}

.tune-settings ul {
	list-style: none;
}

.tune-settings ul li {
	float: left;
	padding: 5px;
}

table.tune-settings th {
	position: relative;
	top: -10px;
	left: 10px;
}

table.tune-settings td {
	border-bottom: 0;
}

#transmission_table td {
	vertical-align: bottom;
}

#transmission_table ul li {
	float: none;
}

/* END Parts Tables */

/* Filters */

#tune_filters table label {
	width: 80px;
	float: left;
}

#tune_filters input {
	float: left;
}

#tune_filters select {
	width: 175px !important;
}

#tune_filters table td {
	vertical-align: top;
}

label.checkbox_label {
	padding: 0;
}

/* END Filters */

/* Tune Listing */

#tune-view-btn {
	width: 61px;
}

#tune-form-btn {
	width: 120px !important;
}

/* END Tune Listing */

/* Devise Styles */

form.tuner_edit input[type=text],
form.tuner_new input[type=text],
form.tuner_new input[type=password] {
	position: relative;
	top: -15px;
}

/* END Devise Styles */