<table cellspacing="10px">
	<tr>
		<th><h3>Aero</h3></th>
	</tr>
	<tr>
		<td>
			<div class="field">
				<b>Front Downforce:</b>
				<%= display_setting tune.downforce_f %>
			</div>
		</td>
		<td>
			<div class="field">
				<b>Rear Downforce:</b>
				<%= display_setting tune.downforce_r %>
			</div>
		</td>
	</tr>
	<tr>
		<th><h4>Weight Adjustment</h4></th>
	</tr>
	<tr>
		<td>
			<div class="field">
				<b>Ballast Amount:</b>
				<%= display_setting tune.ballast_amount %>
			</div>
		</td>
		<td>
			<div class="field">
				<b>Ballast Position:</b>
				<%= display_setting tune.ballast_position %>
			</div>
		</td>
	</tr>
</table><br />