<table cellspacing="10px" class="tune-settings">
	<tr>
		<th><h4>Aero</h4></th>
	</tr>
	<tr>
		<td>
			<ul>
				<li>
					<b>Front Downforce:</b><br />
					<%= display_setting tune.downforce_f %>
				</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>
					<b>Rear Downforce:</b><br />
					<%= display_setting tune.downforce_r %>
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<th><h4>Weight Adjustment</h4></th>
	</tr>
	<tr>
		<td>
			<ul>
				<li>
					<b>Ballast Amount:</b><br />
					<%= display_setting tune.ballast_amount %>
				</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>
					<b>Ballast Position:</b><br />
					<%= display_setting tune.ballast_position %>
				</li>
			</ul>
		</td>
	</tr>
</table><br />