<h2>Brakes</h2>
<table cellspacing="10px">
	<tr>
		<th><h3>Balance Controller</h3></th>
	</tr>
	<tr>
		<td>
			<div class="field">
				<b>Front</b><br />
				<%= display_setting tune.brake_balance_f %>
			</div>
		</td>
		<td>
			<div class="field">
				<b>Rear</b><br />
				<%= display_setting tune.brake_balance_r %>
			</div>
		</td>
	</tr>
</table>