<h2>Brakes</h2>
<table cellspacing="10px" class="tune-settings">
	<tr>
		<th><h3>Balance Controller</h3></th>
	</tr>
	<tr>
		<td>
			<ul>
				<li>
					<b>Front</b><br />
					<%= display_setting tune.brake_balance_f %>
				</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>
					<b>Rear</b><br />
					<%= display_setting tune.brake_balance_r %>
				</li>
			</ul>
		</td>
	</tr>
</table>