<div id="engine_table">
	<table cellspacing="10px">
		<tr>
			<td>
				<div class="field">
					<b>Power Limiter:</b>
					<%= display_setting @tune.power_limit %>
				</div>
			</td>
		</tr>
	</table>
</div>